@{
    ViewData["Title"] = "DownloadFile";
}

<h1>DownloadFile</h1>

<form method="POST">
    Your first name: <input type="text" name="first_name" />
    <p></p>
    Your second name: <input type='text' name='second_name' />
    <p></p>
    Filename: <input type='text' name='filename' />
    <p></p>
    <input type="submit" />
</form>
